{% extends 'layout.html' %}

{% block container %}

<div>
    <div class="row justify-content-md-center mt-5">
        <form action="{{ url_for('Show_Signup_Form') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="p-3 border border-dark rounded ">
                <div class="row justify-content-md-center mb-3">
                    <h4>Registro</h4>
                </div>
                <div>
                    <b>{{ form.nombre.label }}</b>
                    {{ form.nombre() }}
                    <br>
                    {% for error in form.nombre.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.ID.label }}</b>
                    {{ form.ID() }}
                    <br>
                    {% for error in form.direccion.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.contraseña.label }}</b>
                    {{ form.contraseña() }}
                    <br>
                    {% for error in form.contraseña.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.direccion.label }}</b>
                    {{ form.direccion() }}
                    <br>
                    {% for error in form.direccion.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.codigoPostal.label }}</b>
                    {{ form.codigoPostal() }}
                    <br>
                    {% for error in form.codigoPostal.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn" href="{{ url_for('Show_login_Form')}}"> Iniciar sesión </a>
                    </div>
                    <div>
                        <input class="btn btn-secondary" type="submit" value="Registrar">
                    </div>
                </div>
                </div>
            </form>
        
    </div>

</div>
{% endblock %}